# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Android
android/app/debug.keystore
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.apk
*.aab

# iOS
ios/build/
ios/Pods/
*.xcworkspace
!default.xcworkspace
*.xcuserdata

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs
*.log

# Temporary files
*.tmp
*.temp
